/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .content {
     background-color: rgb(46, 234, 190);
      height: 100%;
      margin: 0;
     
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .content {
      background-color: lightgreen;
      height: 100%;
      margin: 0;
     
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content {
      background-color: rgb(211, 153, 243);
      height: 100%;
      margin: 0;
     
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .content {
      background-color: greenyellow;
      height: 100%;
      margin: 0;
      
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.content {
  background-color: cyan;
  height: 100%;
  margin: 0;
  
}


}